<!DOCTYPE html>
<html class="html" lang="en">

<head>
  <meta charset="UTF-8">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Gestión de usuarios</title>

  <link rel="shortcut icon" href="/img/logo/logo.svg" style="border-radius: 100;" />


  <!--=====================================
	PLUGINS DE CSS
	======================================-->

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Bangers&family=Kalam&family=Roboto&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://kit.fontawesome.com/22284035c9.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/nav.css">
  <link rel="stylesheet" href="/css/rrhh.css">
    <link rel="stylesheet" href="/css/altadeusuario.css">
</head>

<body>

  <%- include('../partial/navRrhh') %>
  <br>

  <br>
  <% if(usuario.estado_password===0) { %>
  <a href="">
    <h3
      style="color: red; background-color:rgba(188, 187, 187, 0.721); border-radius: 10px; width: 100%; text-decoration:none">
      Te recordamos <%- usuario.nombre %> que por políticas de seguridad debes de cambiar la contraseña predeterminada
      que generó recursos humanos antes de continuar </h3>
  </a>
  <% } else { %>
  <!-- <h6 style="text-align: center; color: red">* Le recordamos que todos los campos son obligatorio</h6> -->
  <br>

  <div class="container">
    <form action='/ingreso/sector/recursosHumanos/eliminarUsuario/<%- usuarios.id %>' method="POST">
<h1>Desea eliminar al usuario:</h1>
      <h2 style="text-align: center; color: rgb(108, 76, 76)"><%- usuarios.nombre %> <%- usuarios.apellido %> / <%- usuarios.usuario %></h2>
      <h6 for="">Debe de colocar un motivo</h6>
      <input type="text" id="motivo" name="motivo" required>

        <br>
      <br>
      <button type="submit" style="background-color: green !important">
        Confirmar eliminar Usuario
      </button>
    </form>
  </div>
  <% } %>
  <br>
  <a href="/ingreso/sector/recursosHumanos"><button style="background-color: rgb(72, 72, 72) !important; width: 15% !important; color: white;">Volver al listado de usuarios</button></a>

  <script src="/js/nav.js"></script>
</body>

</html>